/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
}

img{
    width: 100%;
}

header{
    width: 100%;
    height: 72vh;
    background-image: url("img/jumbo.png");
    background-size: cover;
    position: relative;
}

.header-top{
    width: 100%;
    height: 12vh;
    padding-top: 15px;
    position: fixed;
    background-color: rgba(37, 94, 233, 1);
    z-index: 9999;
}

#logo{
    width: 24.5%;
    height: 50px;
    float: left;
}

#logo img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#nav-bar{
    width: 50%;
    height: 50px;
    float: left;
    margin-top: 5px;
    text-align: center;
}

ul{
    padding: 5px;
}

li{
    display: inline-block;
    padding: 5px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: small;
}

a{
    text-decoration: none;
    color: white;
}

#login{
    width: 25%;
    height: 50px;
    float: left;
    margin-top: 5px;
    text-align: right;
    padding-top: 7px;
    padding-right: 15%;
}

#login a{
    color: black;
    background-color: white;
    padding: 7px 12px;
    border-radius: 20px;
    font-size: 12px;
}

.header-bottom{
    margin: 0 auto;
    height: 75%;
    position: relative;
}

.container{
    padding-top: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#h1{
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px;
    padding-bottom: 30px;
}

#p{
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px;
}

#a{
    width: 100%;
    height: 75px;
    font-size: 13px;
}

#mac{
    float: left;
    margin-top: 15px;
    margin-left: 100px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    padding: 7px 12px;
    font-size: 15px;
}

#brows{
    float: right;
    margin-top: 15px;
    margin-right: 100px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    padding: 7px 12px;
    font-size: 15px;
}

.main-section{
    width: 100%;
    height: 88vh;
}

.main-section-2{
    width: 100%;
    height: 88vh;/*
    background-image: url("img/wave.svg");
    opacity: 0.3;
    z-index: 1;*/
}

.pic-section, .text-section{
    height: 100px;
    float: left;
    position: relative;
}

.pic-section{
    width: 60%;
    height: 88vh;
}

.text-section{
    width: 40%;
    height: 88vh;
}

.pic{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
    width: 60%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-2{
    width: 60%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title{
    font-size: 38px;
    padding: 15px;
}

#explain{
    padding: 15px;
    font-size: 16px;
}

.four-section{
    width: 100%;
    height: 120vh;
}

.four-text, .four-pic, .four-nav{
    height: 50px;
    width: 50px;
}

.four-text, .four-nav{
    height: 20%;
    width: 100%;
}

.four-text{
    padding: 15px;
}

.four-pic{
    height: 60%;
    width: 100%;
}

.four-text > *{
    margin: 0 auto;
    width: 50%;
    padding: 5px;
    text-align: center;
}

.four-text h2{
    font-size: 30px;
}

.four-text p{
    font-size: 13px;
}

.quattro-pic {
    margin: 0 auto;
    height: 400px;
    width: 65%;
    height: 90%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    clear: both;
}
/*Debug
header{
    width: 100%;
    height: 80vh;
    border: 5px dashed red;
    background-image: url("img/jumbo.png");
    background-size: cover;
    position: relative;
}

.header-top{
    width: 100%;
    height: 15%;
    border: 3px dashed blue;
    margin-top: 5px;
}

#logo{
    width: 24.5%;
    height: 50px;
    border: 2px double green;
    float: left;
    margin-top: 5px;
}

#logo img{
    width: 100%;
    height: 100%;
}

#nav-bar{
    width: 50%;
    height: 50px;
    border: 2px double green;
    float: left;
    margin-top: 5px;
    text-align: center;
}

ul{
    padding: 5px;
}

li{
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: small;
}

a{
    text-decoration: none;
    color: white;
}

#login{
    width: 25%;
    height: 50px;
    border: 2px double green;
    float: left;
    margin-top: 5px;
    text-align: right;
    padding: 10px;
}

#login a{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: small;
}

.header-bottom{
    margin: 0 auto;
    height: 75%;
    border: 3px dashed blue;
    position: relative;
}

.container{
    border: 4px solid yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#h1{
    border: 2px double green;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px;
    padding-bottom: 30px;
}

#p{
    border: 2px double green;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px;
}

#a{
    border: 2px double green;
    width: 100%;
    height: 75px;
}

#mac{
    float: left;
    margin-top: 15px;
    margin-left: 100px;
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

#brows{
    float: right;
    margin-top: 15px;
    margin-right: 100px;
    background-color: black;
    padding: 8px;
    border-radius: 10px;
}

.main-section{
    width: 100%;
    height: 88vh;
    border: 3px double red;
}

.main-section-2{
    width: 100%;
    height: 88vh;
    border: 3px double red;/*
    background-image: url("img/wave.svg");
    opacity: 0.3;
    z-index: 1;
}

.pic-section, .text-section{
    border: 2px dashed blue;
    height: 100px;
    float: left;
    position: relative;
}

.pic-section{
    width: 60%;
    height: 88vh;
}

.text-section{
    width: 40%;
    height: 88vh;
}

.pic{
    width: 60%;
    height: 60%;
    border: 2px double yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
    width: 60%;
    height: 70%;
    border: 2px double yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-2{
    width: 60%;
    height: 50%;
    border: 2px double yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title{
    font-size: 38px;
    padding: 15px;
}

#explain{
    padding: 15px;
    font-size: 16px;
}

.four-section{
    width: 100%;
    height: 120vh;
    border: 5px double red;
}

.four-text, .four-pic, .four-nav{
    border: 3px solid blue;
    height: 50px;
    width: 50px;
}

.four-text, .four-nav{
    border: 3px solid blue;
    height: 20%;
    width: 100%;
}

.four-text{
    padding: 15px;
}

.four-pic{
    border: 3px solid blue;
    height: 60%;
    width: 100%;
}

.four-text > *{
    margin: 0 auto;
    border: 1px solid green;
    width: 50%;
    padding: 5px;
    text-align: center;
}

.four-text h2{
    font-size: 30px;
}

.four-text p{
    font-size: 13px;
}

.quattro-pic {
    margin: 0 auto;
    border: 2px dashed yellow;
    height: 400px;
    width: 65%;
    height: 90%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    clear: both;
}
*/

.mac-advise{
    margin: 0 auto;
    width: 40%;
    height: 40vh;
    border: 4px solid red;
    position: relative;
}

.mac-advise > *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main-bottom{
    width: 75%;
    height: 200px;
    border: 3px double green;
    position: relative;
}

.main-bottom h3{
    border: 1px dashed black;
    width: 100%;
    height: 30%;
    text-align: center;
    padding: 15px;
    font-size: larger;
}

.main-bottom a{
    border: 1px dashed black;
    width: 50%;
    height: 20%;
    text-align: center;
    display: block;
    padding: 10px;
    color: white;
    background-color: rgba(37, 94, 233, 0.8);
}   

#download-section{
    background-color: ##F6F6F6;
    text-align: center;

}

.module-cta{
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    width: 100%;
}

.module-cta .cta-title{
    margin: 0 auto;
    border: 1px solid black;
    width: 60%;
    height: 50px;
    background-image: url("img/stars.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    text-align: center;
}

.button-lilla{
    border: 1px solid blue;
}

.col-2{
    width: calc( 100% / 12) * 2);
}

.col-4{
    width: 33.33%;
}
.container-2{
    padding-top: 100px;
    border: 1px solid blue
}

.clearfix::after{
    display: block;
    clear: both;
    content: "";
}