/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

/*Debug*/
header{
    width: 100%;
    height: 80vh;
    border: 5px dashed red;
    background-image: url("img/jumbo.png");
    background-size: cover;
    position: relative;
}

.header-top{
    width: 100%;
    height: 15%;
    border: 3px dashed blue;
    margin-top: 5px;
}

#logo{
    width: 24.5%;
    height: 50px;
    border: 2px double green;
    float: left;
    margin-top: 5px;
}

#logo img{
    width: 100%;
    height: 100%;
}

#nav-bar{
    width: 50%;
    height: 50px;
    border: 2px double green;
    float: left;
    margin-top: 5px;
    text-align: center;
}

ul{
    padding: 5px;
}

li{
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
}

#login{
    width: 25%;
    height: 50px;
    border: 2px double green;
    float: left;
    margin-top: 5px;
    text-align: right;
    padding: 10px;
}

.header-bottom{
    width: 100%;
    height: 75%;
    border: 3px dashed blue;
    margin-top: 5px;
    position: relative;
}

#h1{
    border: 2px double green;
}

#p{
    border: 2px double green;
}

#a{
    border: 2px double green;
}